<ion-view view-title="{{chat.name}}" cache-view="false">

  <button class="assertive-bg" ng-click="openModal()">打开modal窗口</button>
  <button class="positive-bg" ng-click="show()">打开ActionSheet窗口</button>
  <script id="modal.html" type="text/ng-template">
    <ion-modal-view class="energized-bg">
      <!--对话框内容-->

      模态弹出框
      <button class="assertive-bg" ng-click="closeModal()">打开modal窗口</button>
    </ion-modal-view>
  </script>


  <!--<ion-slide-box style="height:100%" does-continue="true" auto-play="false" slide-interval="1000">-->
    <!--<ion-slide class="assertive-bg">1</ion-slide>-->
    <!--<ion-slide class="energized-bg">2</ion-slide>-->
    <!--<ion-slide class="light-bg">3</ion-slide>-->
    <!--<ion-slide class="calm-bg">4</ion-slide>-->
  <!--</ion-slide-box>-->



  <!--<ion-list can-swipe="false">-->
    <!--<ion-item>1-->
      <!--<ion-option-button class="button-assertive">删除</ion-option-button>-->
      <!--<ion-option-button class="button-balanced">编辑</ion-option-button>-->
    <!--</ion-item>-->
    <!--<ion-item>2-->
      <!--checkbox的状态：{{checkbox}}-->
      <!--<ion-checkbox ng-model="checkbox">checkbox</ion-checkbox>-->
    <!--</ion-item>-->
    <!--<ion-item>3-->
  <!-- -->
    <!--</ion-item>-->
    <!--<ion-item>4</ion-item>-->
    <!--<ion-item>5</ion-item>-->
  <!--</ion-list>-->





  <!--<ion-header-bar class="assertive-bg">-->
    <!--头部-->
  <!--</ion-header-bar>-->
  <!--<ion-content scroll="false">-->
    <!--内容-->
  <!--</ion-content>-->
  <!--<ion-footer-bar>-->
    <!--尾部-->
  <!--</ion-footer-bar>-->
















  <!--<div class="list card">-->
      <!--<div class="item">1-->
        <!--<button class="button-large">anniu</button>-->
      <!--</div>-->
      <!--<div class="item">2-->
        <!--<div class="item item-toggle">-->
          <!--iMessage-->
          <!--<label class="toggle toggle-balanced">-->
            <!--<input type="checkbox">-->
            <!--<div class="track">-->
              <!--<div class="handle"></div>-->
            <!--</div>-->
          <!--</label>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="item">3-->
        <!--<div class="item item-chexkbox">-->
          <!--<any class="checkbox">-->
            <!--<input type="checkbox">-->
          <!--</any>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="item">4-->
        <!--<ion-list>-->
          <!--<ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>-->
          <!--<ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>-->
        <!--</ion-list>-->
      <!--</div>-->
      <!--<div class="item">5-->
        <!--<div class="item range">-->
          <!--<div class="icon ion-ios-heart"></div>-->
          <!--<input type="range" name="volume">-->
          <!--<div class="icon ion-ios-heart"></div>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="item">6</div>-->
  <!--</div>-->


























  <!--<div class="bar bar-header energized-bg">-->
    <!--<button class="balanced-bg button">按钮1</button>-->
    <!--<h1 class="title">bar-header</h1>-->
    <!--<button class="balanced-bg button">按钮2</button>-->
  <!--</div>-->
  <!--<div class="bar bar-subheader assertive-bg">-->
    <!--<div class="button-bar">-->
      <!--<button class="balanced-bg button">按钮2</button>-->
      <!--<button class="dark-bg button">按钮2</button>-->
      <!--<button class="light-bg button">按钮2</button>-->
      <!--<button class="energized-bg button">按钮2</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="scroll-content dark-bg has-footer has-header has-subfooter has-subheader">-->
    <!--<input type="tel"/>-->
    <!--<div class="item-input-inset">-->
      <!--<label class="item-input-wrapper">-->
        <!--<input type="tel"/>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="bar bar-subfooter balanced-bg">-->
    <!--<i class="icon ion-transgender"></i>-->
  <!--</div>-->
  <!--<div class="bar bar-footer calm-bg">bar-footer</div>-->

</ion-view>
